<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>PLanner</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Construction Company Website Template" name="keywords">
        <meta content="Construction Company Website Template" name="description">

        <!-- Favicon -->
        <link href="/img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="/lib/flaticon/font/flaticon.css" rel="stylesheet"> 
        <link href="/lib/animate/animate.min.css" rel="stylesheet">
        <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
        <link href="/lib/slick/slick.css" rel="stylesheet">
        <link href="/lib/slick/slick-theme.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="/css/style.css" rel="stylesheet">
    </head>

    <body>
        <div class="wrapper">
            <!-- Top Bar Start -->
            <div class="top-bar">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-12">
                            <div class="logo">
                                <a href="index.html">
                                    <h1><a href="https://fontmeme.com/grand-theft-auto-font/"><img src="https://fontmeme.com/permalink/210521/e574bc19ea9767f64a32c7ed33174aae.png" alt="grand-theft-auto-font" border="0"></a> METRO&nbsp <img src="/img/faviconn2.png" style="height:100px"></h1>
                                    <!-- <img src="img/logo.jpg" alt="Logo"> -->
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-7 d-none d-lg-block">
                            <div class="row">
                                <div class="col-4">
                                    <div class="top-bar-item">
                                        <div class="top-bar-icon">
                                            <i class="flaticon-calendar"></i>
                                        </div>
                                        <div class="top-bar-text">
                                            <h3>Opening Hour</h3>
                                            <p>Daily 5:00 - 11:00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="top-bar-item">
                                        <div class="top-bar-icon">
                                            <i class="flaticon-call"></i>
                                        </div>
                                        <div class="top-bar-text">
                                            <h3>Emergency</h3>
                                            <p>+012 345 6789</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="top-bar-item">
                                        <div class="top-bar-icon">
                                            <i class="flaticon-send-mail"></i>
                                        </div>
                                        <div class="top-bar-text">
                                            <h3>Enquiry</h3>
                                            <p>info@example.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top Bar End -->

            <!-- Nav Bar Start -->
            <div class="nav-bar">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                        <a href="#" class="navbar-brand">MENU</a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto">
                                <a href="" class="nav-item nav-link active">Step 1 of 4</a>
                                <a href="/users/metro" class="nav-item nav-link"><i class="fas fa-sign-out-alt"></i> Terminate the booking process</a>
                            </div>
                            
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Nav Bar End -->


















            <div class="blog">
                <div class="container">
                    <div class="section-header text-center">
                        <p>Journey Planner</p>
                        <h2>Please select your boarding details</h2>
                    </div>
                </div>
            </div>
            




            

            <div class="blog">
                <div class="container">
                    
                    <div class="row">

                        <div class="col-lg-8 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="blog-item">
                                <div class="blog-img2">
                                    <img src="/img/map.jpg" />
                                    <button class="btn">Network Map</button>
                                </div>
                            </div>
                        </div>



                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="blog-item">
                                <div class="blog-img">
                                    <form action="/users/details" method="POST">
                                        <fieldset>
                                        <select class="selectpicker" data-style="btn-info" name="selectpicker">
                                          <optgroup label="Select Starting Station">
                                              <option value="" selected disabled hidden style="text-align:center">From</option>
                                              <option name="table1" value="Forest_Hills">Forest_Hills</option>
                                              <option name="table2" value="Downtown">Downtown</option>
                                              <option name="table3" value="Vice_Port">Vice_Port</option>
                                              <option name="table3" value="Vice_City_Beach">Vice_City_Beach</option>
                                              <option name="table3" value="Prawn_Island">Prawn_Island</option>
                                              <option name="table3" value="Little_Haiti">Little_Haiti</option>
                                              <option name="table3" value="Ocean_Beach">Ocean_Beach</option>
                                              <option name="table3" value="Food_Street">Food_Street</option>
                                              <option name="table3" value="Grand_Library">Grand_Library</option>
                                              <option name="table3" value="Airport">Airport</option>
                                              <option name="table3" value="Shipyard">Shipyard</option>
                                              <option name="table3" value="Sheep_Village">Sheep_Village</option>
                                              <option name="table3" value="Govt_Office">Govt_Office</option>
                                              <option name="table3" value="Star_Town">Star_Town</option>
                                              <option name="table3" value="Old_City">Old_City</option>
                                              <option name="table3" value="Leaf_Links">Leaf_Links</option>
                                              <option name="table3" value="City_Scrap">City_Scrap</option>
                                              <option name="table3" value="New_Downtown">New_Downtown</option>
                                              <option name="table3" value="Subways">Subways</option>
                                              <option name="table3" value="Trench">Trench</option>
                                            </optgroup>
                                        </select>

                                        <select class="selectpicker" data-style="btn-info" name="selectpicker2">
                                            <optgroup label="Select Final Station">
                                                <option value="" selected disabled hidden>Till</option>
                                                <option name="table1" value="Forest_Hills">Forest_Hills</option>
                                              <option name="table2" value="Downtown">Downtown</option>
                                              <option name="table3" value="Vice_Port">Vice_Port</option>
                                              <option name="table3" value="Vice_City_Beach">Vice_City_Beach</option>
                                              <option name="table3" value="Prawn_Island">Prawn_Island</option>
                                              <option name="table3" value="Little_Haiti">Little_Haiti</option>
                                              <option name="table3" value="Ocean_Beach">Ocean_Beach</option>
                                              <option name="table3" value="Food_Street">Food_Street</option>
                                              <option name="table3" value="Grand_Library">Grand_Library</option>
                                              <option name="table3" value="Airport">Airport</option>
                                              <option name="table3" value="Shipyard">Shipyard</option>
                                              <option name="table3" value="Sheep_Village">Sheep_Village</option>
                                              <option name="table3" value="Govt_Office">Govt_Office</option>
                                              <option name="table3" value="Star_Town">Star_Town</option>
                                              <option name="table3" value="Old_City">Old_City</option>
                                              <option name="table3" value="Leaf_Links">Leaf_Links</option>
                                              <option name="table3" value="City_Scrap">City_Scrap</option>
                                              <option name="table3" value="New_Downtown">New_Downtown</option>
                                              <option name="table3" value="Subways">Subways</option>
                                              <option name="table3" value="Trench">Trench</option>
                                              </optgroup>
                                          </select>

                                        <input type="submit" id="submit-form" class="hidden" style="display:none" />
                                        </fieldset>
                                    </form>
                                </div>
                                <div class="blog-title">
                                    <h3>A lovely trip awaits</h3>
                                    <label class="btn" for="submit-form"><b>Go</b></label>
                                </div>
                                <div class="blog-meta">
                                    
                                    <p>Important Instruction</p>
                                
                                </div>
                                <div class="blog-text">
                                    <p>
                                        Please only select the desired options. The choices will not be altered after successful confirmation of the ticket
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>






































                        <!-- Footer Start -->
            <div class="footer wow fadeIn" data-wow-delay="0.3s">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-contact">
                                <h2>Office Contact</h2>
                                <p><i class="fa fa-map-marker-alt"></i>123, Downtown, Star City</p>
                                <p><i class="fa fa-phone-alt"></i>+012 345 67890</p>
                                <p><i class="fa fa-envelope"></i>help@metro.sc</p>
                                <div class="footer-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-link">
                                <h2>Services</h2>
                                <a href="/users/planner">Book a ticket</a>
                                <a href="/users/metro">Inspect your ticket</a>
                                <a href="/users/metworkmap">Network Map</a>
                                
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-link">
                                <h2>Useful Pages</h2>
                                <a href="/users/about">About Us</a>
                                <a href="/users/contact">Contact Us</a>
                                <a href="/users/team">Our Technology</a>
                                <a href="/users/portfolio">Gallery</a>
                                <a href="https://www.railway-technology.com/projects/delhi-metro/">News</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="newsletter">
                                <h2>Newsletter</h2>
                                <p>
                                    Optional
                                </p>
                                <div class="form">
                                    <input class="form-control" placeholder="Email here">
                                    <button class="btn">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container footer-menu">
                    <div class="f-menu">
                        <a href="">Terms of use</a>
                        <a href="">Privacy policy</a>
                        <a href="">Cookies</a>
                        <a href="">Help</a>
                        <a href="">FQAs</a>
                    </div>
                </div>
                <div class="container copyright">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; <a href="#">vcmetro</a>, All Right Reserved.</p>
                        </div>
                        <div class="col-md-6">
                            <p>Designed By <a href="">ABD</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
            
                        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
                    </div>
            
                    <!-- JavaScript Libraries -->
                    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
                    <script src="/lib/easing/easing.min.js"></script>
                    <script src="/lib/wow/wow.min.js"></script>
                    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
                    <script src="/lib/isotope/isotope.pkgd.min.js"></script>
                    <script src="/lib/lightbox/js/lightbox.min.js"></script>
                    <script src="/lib/waypoints/waypoints.min.js"></script>
                    <script src="/lib/counterup/counterup.min.js"></script>
                    <script src="/lib/slick/slick.min.js"></script>
            
                    <!-- Template Javascript -->
                    <script src="/js/main.js"></script>
                </body>
            </html>
            