<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Builderz - Construction Company Website Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Construction Company Website Template" name="keywords">
        <meta content="Construction Company Website Template" name="description">

        <!-- Favicon -->
        <link href="/img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="/lib/flaticon/font/flaticon.css" rel="stylesheet"> 
        <link href="/lib/animate/animate.min.css" rel="stylesheet">
        <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
        <link href="/lib/slick/slick.css" rel="stylesheet">
        <link href="/lib/slick/slick-theme.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="/css/style.css" rel="stylesheet">
    </head>

    <body>
        <div class="wrapper">
            <!-- Top Bar Start -->
            <div class="top-bar">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-12">
                            <div class="logo">
                                <a href="index.html">
                                    <h1><a href="https://fontmeme.com/grand-theft-auto-font/"><img src="https://fontmeme.com/permalink/210521/e574bc19ea9767f64a32c7ed33174aae.png" alt="grand-theft-auto-font" border="0"></a> METRO&nbsp <img src="/img/faviconn2.png" style="height:100px"></h1>
                                    <!-- <img src="img/logo.jpg" alt="Logo"> 
                                    <mark style="background:none; text-shadow:3px 3px 0 #FFFFFF; color: #FF416C;color: -webkit-linear-gradient(to right, #FF4B2B, #FF416C)"></mark>-->
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-7 d-none d-lg-block">
                            <div class="row">
                                <div class="col-4">
                                    <div class="top-bar-item">
                                        <div class="top-bar-icon">
                                            <i class="flaticon-calendar"></i>
                                        </div>
                                        <div class="top-bar-text">
                                            <h3>Opening Hour</h3>
                                            <p>Daily 5:00 - 11:00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="top-bar-item">
                                        <div class="top-bar-icon">
                                            <i class="flaticon-call"></i>
                                        </div>
                                        <div class="top-bar-text">
                                            <h3>Emergency</h3>
                                            <p>+012 345 6789</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="top-bar-item">
                                        <div class="top-bar-icon">
                                            <i class="flaticon-send-mail"></i>
                                        </div>
                                        <div class="top-bar-text">
                                            <h3>Enquiry</h3>
                                            <p>help@metro.vc</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top Bar End -->

            <!-- Nav Bar Start -->
            <div class="nav-bar">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                        <a href="#" class="navbar-brand">MENU</a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto">
                                <a href="/users/metro" class="nav-item nav-link active">Home</a>
                                <a href="/users/about" class="nav-item nav-link">About</a>
                                <a href="/users/networkmap" class="nav-item nav-link">Network Map</a>
                                <a href="/users/team" class="nav-item nav-link">Technology</a>
                                <a href="/users/portfolio" class="nav-item nav-link">Gallery</a>
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Links</a>
                                    <div class="dropdown-menu">
                                        <a href="https://www.railway-technology.com/projects/delhi-metro/" class="dropdown-item">in News</a>
                                        <a href="https://www.railway-technology.com/projects/delhi-metro/" class="dropdown-item">in Media</a>
                                    </div>
                                </div>
                                <a href="/users/contact" class="nav-item nav-link">Contact</a>
                            </div>
                            <div class="ml-auto">
                            <a class="btn" href="/users/login_admin">Admin Login</a>




                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Nav Bar End -->
            
            
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Our Technology</h2>
                        </div>
                        <div class="col-12">
                            <a href="">Home</a>
                            <a href="">Our Software</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- About Start -->
            <div class="about wow fadeInUp" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-6">
                            <div class="about-img">
                                <img src="/img/train2.jpg" alt="Image">
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div class="section-header text-left">
                                <p>Our</p>
                                <h2>Technology and Software</h2>
                            </div>
                            <div class="about-text">
                                <p>
                                    The trains use centralised automatic train control (CATC) comprising automatic train operation (ATO), automatic train protection (ATP) and automatic train signalling (ATS) systems.

Intercoms are provided for emergency communication between passengers and the driver in each coach, and on-train announcements are in Hindi and English. Route maps and LCD display systems are available in every coach.

Fare collection is through contactless, stored-value smartcards. The metro has its own police force, and a training school at Shastri Park is run in association with Hong Kong MTR for operational and maintenance staff. Security is supported by approximately 5,200 CCTV cameras at stations.
                                </p>
                                <p>
                                    In October 2007, DMRC awarded Bombardier Transportation a $43m contract for the design, manufacture, supply, installation, and testing of signalling equipment. The CITYFLO 350 system was installed on 37km of two of the new line’s sections of the phase two expansion.

The electronic interlocking, operation and automation control systems for the third line were supplied by Siemens Transportation Systems.

Lately, the rolling stock is equipped with microprocessor-based Train Control Management System (TCMS) to monitor the operating condition of the trains.
                                </p>
                                <a class="btn" href="">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About End -->


            <!-- Footer Start -->
            <div class="footer wow fadeIn" data-wow-delay="0.3s">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-contact">
                                <h2>Office Contact</h2>
                                <p><i class="fa fa-map-marker-alt"></i>123, Downtown, Star City</p>
                                <p><i class="fa fa-phone-alt"></i>+012 345 67890</p>
                                <p><i class="fa fa-envelope"></i>help@metro.sc</p>
                                <div class="footer-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-link">
                                <h2>Services</h2>
                                <a href="/users/planner">Book a ticket</a>
                                <a href="/users/metro">Inspect your ticket</a>
                                <a href="/users/metworkmap">Network Map</a>
                                
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-link">
                                <h2>Useful Pages</h2>
                                <a href="/users/about">About Us</a>
                                <a href="/users/contact">Contact Us</a>
                                <a href="/users/team">Our Technology</a>
                                <a href="/users/portfolio">Gallery</a>
                                <a href="https://www.railway-technology.com/projects/delhi-metro/">News</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="newsletter">
                                <h2>Newsletter</h2>
                                <p>
                                    Optional
                                </p>
                                <div class="form">
                                    <input class="form-control" placeholder="Email here">
                                    <button class="btn">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container footer-menu">
                    <div class="f-menu">
                        <a href="">Terms of use</a>
                        <a href="">Privacy policy</a>
                        <a href="">Cookies</a>
                        <a href="">Help</a>
                        <a href="">FQAs</a>
                    </div>
                </div>
                <div class="container copyright">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; <a href="#">vcmetro</a>, All Right Reserved.</p>
                        </div>
                        <div class="col-md-6">
                            <p>Designed By <a href="">ABD</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->

            <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        </div>

        <!-- JavaScript Libraries -->
        <script src="/https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="/https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="/lib/easing/easing.min.js"></script>
        <script src="/lib/wow/wow.min.js"></script>
        <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="/lib/isotope/isotope.pkgd.min.js"></script>
        <script src="/lib/lightbox/js/lightbox.min.js"></script>
        <script src="/lib/waypoints/waypoints.min.js"></script>
        <script src="/lib/counterup/counterup.min.js"></script>
        <script src="/lib/slick/slick.min.js"></script>

        <!-- Template Javascript -->
        <script src="/js/main.js"></script>
    </body>
</html>
